
// container mixi=====================================================================================================
@mixin container(
  $max-width: 1600px,
  $mobile-padding: 16px,
  $tablet-padding: 48px,
  $desktop-padding: 156px
) {
  width: 100%;
  max-width: $max-width;
  margin-inline: auto;
  padding-inline: $mobile-padding;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding-inline: $tablet-padding;
  }

  @media (min-width: 1280px) {
    padding-inline: $desktop-padding;
  }
}

// use it whith cutome parameter
.hero-container {
  @include container(1400px, 20px, 60px, 120px);
}

// btn mixi=====================================================================================================

@mixin button(
  $padding: 12px 24px,
  $bg: #000,
  $color: #fff,
  $font: inherit,
  $radius: 6px
) {
  padding: $padding;
  background-color: $bg;
  color: $color;
  font-family: $font;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.85;
    transform: translateY(-1px);
  }
}


// use it whith cutome parameter
.btn-primary {
  @include button(
    14px 32px,
    #2563eb,
    #ffffff,
    "Inter, sans-serif",
    10px
  );
}



// display flex mixi=====================================================================================================

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

