@mixin container(
  $max-width: 1600px,
  $mobile-padding: 16px,
  $tablet-padding: 48px,
  $desktop-padding: 156px
) {
  width: 100%;
  max-width: $max-width;
  margin-inline: auto;
  padding-inline: $mobile-padding;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding-inline: $tablet-padding;
  }

  @media (min-width: 1280px) {
    padding-inline: $desktop-padding;
  }
}

// use it whith cutome parameter
.hero-container {
  @include container(1400px, 20px, 60px, 120px);
}
